@page "/solucionesactivas/tareas"
@inherits DBVersion.Pages.PaginaBase.PaginaBase;
@using DBVersion.Data
@using DBVersion.DataAccess
@using System.Data

@if (mostrarInfo)
{
    <div class="container-fluid">
        <h5 class=""><a href="/solucionesactivas" class="oi oi-arrow-left flecha-retroceso"></a>TAREAS</h5>
        <div class="row">
            <div class="col-lg-3 pb-1 pt-1 text-center">
                <a href="/solucionesactivas/migraciones/activas?idSolucion=@idSolucion" class="btn modulo btn-lg p-5" title="Módulo para coordinador/tester"><i class="oi oi-circle-check me-2"></i>MIGRACIONES</a>
            </div>
            <div class="col-lg-3 pb-1 pt-1 text-center">
                <a href="/solucionesactivas/modificaciones/activas?idSolucion=@idSolucion" class="btn modulo btn-lg p-5" title="Módulo para devs/tester"><i class="oi oi-beaker me-2"></i>MODIFICACIONES</a>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public int idSolucion { get; set; }
}
